* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**********************************************/
/******************FONTS***********************/
/**********************************************/
@font-face {
  font-family: "ostrich_sansheavy";
  src: url("ostrichsans-heavy-webfont.woff2") format("woff2"),
    url("ostrichsans-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/**********************************************/
/******************HEADER**********************/
/**********************************************/
header {
  display: flex;
  height: 90vh;
}
/**********************************************/
/********************LOGO**********************/
/**********************************************/
.logo {
  position: relative;
  width: 952px;
  height: 918px;
  background: url(./img/Tomates\ Ananas.jpg) no-repeat;
  background-size: cover;
}
.logo_img {
  position: absolute;
  top: 0px;
  left: 33px;
  width: 84px;
  height: 85px;
}
/**********************************************/
/********************NAV***********************/
/**********************************************/
.header_nav {
  width: 968px;
  height: 918px;
  display: flex;
  background: #a6cfa4 0% 0% no-repeat padding-box;
  position: relative;
}
.nav_list {
  display: inline-block;
  justify-content: center;
  list-style: none;
  padding: 25px;
  height: 85px;
  width: 741px;
  display: flex;
  flex-direction: row;
}
.nav_list a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 18px;
}
.nav_list a:hover {
  color: #fff;
}
.nav_button {
  width: 227px;
  height: 74px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: #edb93b;
  border: none;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.164);
}
.nav_button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.nav_button a:hover {
  color: #7a7a7a;
}
.nav_button a:activated {
  color: #7a7a7a;
}
/**********************************************/
/***************PARAGRAPH**********************/
/**********************************************/
.nav_paragraph {
  width: 850px;
  height: 185px;
  position: absolute;
  top: 40%;
  right: 10%;
}
h1 {
  width: 538px;
  height: 86px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 164px;
  font-family: "ostrich_sansheavy", sans-serif;
}
.nav_paragraph p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-left: 167px;
}
/**********************************************/
/*******************CHEVRON********************/
/**********************************************/
.header_chevron {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 165px;
  width: 1920px;
}
.header_chevron p {
  font-size: 33px;
  color: #707070;
  position: absolute;
  top: 958px;
  left: 806px;
}
.header_chevron img {
  width: 59px;
  height: 34px;
  position: absolute;
  top: 1028px;
  left: 930px;
}

/**********************************************/
/*************MEDIA***QUERIES******************/
/**********************************************/
@media screen and (max-width: 414px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    width: 414px;
    position: relative;
  }
  /**************LOGO*********************/
  .logo {
    width: 414px;
    height: 332px;
    position: static;
    background: url(./img/bannière.png) no-repeat;
    background-size: cover;
  }
  .logo_img {
    z-index: 1;
    width: 84px;
    height: 85px;
    position: absolute;
    top: 1%;
  }
  /**************NAV***********************/
  .header_nav {
    width: 414px;
    height: 356px;
    display: flex;
  }
  /**************PARAGRAPH****************/
  .nav_paragraph {
    width: 400px;
    height: 20px;
    right: 15%;
    text-align: center;
  }
  h1 {
    width: 300px;
    height: 30px;
    font-size: large;
    margin-left: 100px;
    margin-bottom: 15px;
  }
  .nav_paragraph p {
    font-size: 15px;
    margin-left: 100px;
  }
  /***********CHEVRON*********************/
  .header_chevron {
    height: 60px;
    width: 414px;
  }
  .header_chevron img {
    top: 685px;
    left: 178px;
  }
}

/**********************************************/
/**********************************************/
/**********************************************/
