/* .content {
    /* display: flex;
    padding: 60px;
    column-width: 50%;
    column-count: 2;
    max-width: 50vw;
    max-height: auto;
    position: relative;
    column-gap: 50%; */
/* height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

/* h2 {
    text-align: center;
}

.image_body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    box-shadow: 0px 0px 10px #343434;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: teal;
}

.couleur1 {
    background-color: #EDB93B;
    max-width: 50%; 
}

#image_champ {
    display: block;
    margin-left: -23vw;
    margin-top: 16vh;
    border-radius: 100%;
    width: 398px;
    height: 398px;
    box-shadow: 0px 0px 10px #343434;
    position: absolute;
}


.producteur {
   
    
}

.text_body {
   
} */


body {
    margin: 0;
    padding: 0;
}

.image_champ {
    display: block;
    margin-left: 25%;
    margin-top: -20%;
    border-radius: 100%;
    width: 398px;
    height: 398px;
    position: absolute;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.image_body {
    border-radius: 100%;
    width: 467px;
    height: 467px;
}

#asideone {
    grid-column: 1;
    grid-row: 1;
    background-color: #EDB93B;
    padding: auto;
    text-align: center;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;

}


#asidetwo {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    padding: 10%;
}


#asidethree {
    grid-column: 1;
    grid-row: 2;
    background-color: #EDB93B;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
}

#asidefour {
    grid-column: 2;
    grid-row: 2;
}

#asidefive {
    grid-column: 1;
    grid-row: 3;
    background-color: #EDB93B;
    text-align: center;
    padding: auto;
}

#asidesix {
    grid-column: 2;
    grid-row: 3;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
}

#asidebutton {
    position: relative;
    top: 2852px;
left: 769px;
width: 366px;
height: 61px;
text-align: left;
font: normal normal 900 38px/61px Ostrich Sans;
letter-spacing: 0px;
color: #707070;
opacity: 1;

}

#asideseven {
    grid-column: 1;
    grid-row: 5;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
}

#asideeight {
    grid-column: 2;
    grid-row: 5;
    background-color: #A6CFA4;
}

#asidenine {
    grid-column: 1;
    grid-row: 6;

}

#asideten {
    grid-column: 2;
    grid-row: 6;
    background-color: #A6CFA4;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;

}



#dernier_bouton {
    position: absolute;
    top: 4412px;
    left: 776px;
    width: 369px;
    height: 61px;
    text-align: left;
    font: normal normal 900 38px/61px Ostrich Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin:  692px;
}


















@media screen and (max-width: 414px) {
   
    .container {
        display: block;
        
    }

    /* .container div {
        height: 50vh;
    } */

    .image_body {
        width: 246px;
        height: 246px;
        border-radius: 100%;
    }
    #asideone , #asidetwo , #asidethree , #asidefour , #asidefive , #asidesix , #asideseven , #asideeight , #asidenine , #asideten {
        font-size: 75%;
    }
    
    #asideone {
        width: 414px;
    height: 452px;
    }
}