* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/**********************************************/
/******************BACK TO TOP*****************/
/**********************************************/
section.back_to_top {
  position: fixed;
  bottom: 60px;
  left: 94%;
  max-width: 90px;
  padding: 8px;
  padding-left: 3px;
}
section {
  display: block;
}
section.back_to_top a {
  color: transparent;
  opacity: 0.8;
}
section.back_to_top a:hover {
  opacity: 1;
}
.top-arrow {
  position: relative;
  right: 30px;
  bottom: 5px;
}
/**********************************************/
/******************FONTS***********************/
/**********************************************/
@font-face {
  font-family: "OstrichSansHeavy";
  src: url("./font/ostrichsans-heavy-webfont.woff");
}
/**********************************************/
/******************HEADER**********************/
/**********************************************/
header {
  display: flex;
}
/**********************************************/
/********************LOGO**********************/
/**********************************************/
.logo {
  position: relative;
  width: 952px;
  height: 800px;
  background: url(./img/bannière\ web.png) no-repeat;
  background-size: cover;
}
.logo_img {
  position: absolute;
  top: 15px;
  left: 33px;
  width: 70px;
  height: 70px;
}
/**********************************************/
/********************NAV***********************/
/**********************************************/
.header_nav {
  width: 968px;
  height: 800px;
  display: flex;
  background: #a6cfa4 0% 0% no-repeat padding-box;
  position: relative;
}
.nav_list {
  display: inline-block;
  justify-content: center;
  list-style: none;
  padding: 25px;
  height: 85px;
  width: 741px;
  display: flex;
  flex-direction: row;
}
.nav_list a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #7a7a7a;
  font-size: 25px;
  font-family: "OstrichSansHeavy";
}
.nav_list a:hover {
  color: #fff;
}
.nav_button {
  width: 227px;
  height: 74px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: #edb93b;
  border: none;
  box-shadow: 4px 2px 8px #00000029;
  opacity: 0.87;
}
.nav_button:hover {
  box-shadow: 4px 2px 8px #00000067;
}
.nav_button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.nav_button a:hover {
  color: #7a7a7a;
  font-size: 1.1em;
}
.nav_button a:activated {
  color: #7a7a7a;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.424);
}
#menuToggle {
  display: none;
}
/**********************************************/
/***************PARAGRAPH**********************/
/**********************************************/
.nav_paragraph {
  width: 850px;
  height: 185px;
  position: absolute;
  top: 35%;
  right: 10%;
}
h1 {
  font-size: 80px;
  width: 538px;
  height: 86px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 164px;
  margin-bottom: 25px;
  font-family: "OstrichSansHeavy", sans-serif;
}
.nav_paragraph p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-left: 164px;
}
/**********************************************/
/*******************CHEVRON********************/
/**********************************************/
.header_chevron {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 95px;
  width: 1920px;
  margin-bottom: 75px;
}
.header_chevron p {
  font-size: 33px;
  color: #707070;
  position: absolute;
  top: 820px;
  left: 806px;
  font-family: Roboto;
}
.header_chevron img {
  width: 59px;
  height: 34px;
  position: absolute;
  top: 890px;
  left: 930px;
}
/**********************************************/
/*************MEDIAS**QUERIES******************/
/**************LANDING PAGE********************/
/**********************************************/
@media screen and (max-width: 414px) {

  

  header {
    display: flex;
    flex-direction: column-reverse;
    width: 414px;
    position: relative;
  }
  /**************LOGO*********************/
  .logo {
    width: 414px;
    height: 332px;
    position: static;
    background: url(./img/bannière.png) no-repeat;
    background-size: cover;
    margin-bottom: 80px;
  }
  .logo_img {
    z-index: 1;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1%;
    margin-top: 20px;
  }
  /**************NAV***********************/
  .header_nav {
    width: 414px;
    height: 356px;
    display: flex;
  }
  .nav_list {
    display: none;
  }
  .nav_button {
    display: none;
  }
  section.back_to_top {
    display: none;
  }

  /* ****************burger****************** */
  
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 342px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #7a7a7a;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #fff;
  }
  #menuToggle input {
    display: block;
    width: 20px;
    height: 28px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 32px;
    height: 3px;
    top: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #7a7a7a;
    border-radius: 10px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #7a7a7a;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 430px;
    height: 718px;
    margin: -60px -50px 0 0;
    right: 30%;
    padding-left: 25px;
    padding-top: 62px;
    padding-bottom: 63px;
    background: #a6cfa4;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0); 
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu ul {
    width: 430px;
  }
  #menu li {
    padding: 30px;
    font-size: 25px;
    text-align: center;
    font-family: "OstrichSansHeavy";
  }
  #menu_btn {
    width: 227px;
    height: 74px;
    position: absolute;
    left: 100px;
    font-size: 20px;
    background: #edb93b;
    border: none;
    box-shadow: 4px 2px 8px #00000029;
    opacity: 0.87;
    margin-top: 40px;
  }
  #menu_btn:hover {
    box-shadow: 4px 2px 8px #00000029;
  }
  #menu_btn a {
    text-decoration: none;
    color: white;
    font-family: "OstrichSansHeavy";
    font-size: 25px;
  }
  #menu_btn a:hover {
    color: #7a7a7a;
    font-size: 1.1em;
  }
  #menu_btn a:activated {
    color: #7a7a7a;
    box-shadow: 4px 2px 8px #0000005d;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  /**************PARAGRAPH****************/
  .nav_paragraph {
    width: 400px;
    height: 20px;
    right: 15%;
    text-align: center;
    top: 40%;
  }
  h1 {
    width: 300px;
    height: 30px;
    font-size: xx-large;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  .nav_paragraph p {
    font-size: 15px;
    margin-left: 100px;
  }
  /***********CHEVRON*********************/
  .header_chevron {
    height: 60px;
    width: 414px;
    margin-bottom: -80px;
  }

  .header_chevron p{
      display: none;
  }

  .header_chevron img {
    top: 695px;
    left: 178px;
  }
}
________________________________________________
/**********************************************/
/************MENTIONS LEGALES******************/
/**********************************************/
.h1_ml {
  position: absolute;
}
#h1_ml {
  position: absolute;
  top: 340px;
  right: 240px;
  right: px;
  color: #fff;
  font-size: 80px;
  font-family: "OstrichSansHeavy", sans-serif;
}
.header_chevron_2 {
  display: none;
}
.ml {
  margin-top: 190px;
  margin-left: 336px;
  width: 1248px;
  height: 2032px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  font-size: 24px;
}
.titres_ml {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
}
.h2_ml {
  font-size: 24px;
}
/**********************************************/
/*************MEDIAS***QUERIES*****************/
/************MENTIONS LEGALES******************/
/**********************************************/
@media screen and (max-width: 414px) {
  .header_chevron_2 {
    display: none;
  }
  #h1_ml {
    position: absolute;
    top: 180px;
    right: 50px;
    width: 296px;
    height: 48px;
    font-size: 40px;
    position: absolute;
    color: #fff;
    font-size: 50px;
    font-family: "OstrichSansHeavy";
  }
  .ml {
    margin: 0;
    padding: 50px;
    width: 400px;
    font-size: 14px;
  }
  .titres_ml {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .h2_ml {
    font-size: 16px;
  }
}

/* --------------------------------------------- andy -------------------------------------------- */


@font-face {
    font-family: "OstrichSans-Heavy";
    src: url("../assets/font/OstrichSans-Heavy.otf") format("otf"),
}

#asidebutton, #dernier_bouton {
    text-decoration: none;
}


h2{
    font-size: 70px;
    font-family: OstrichSansHeavy;
    margin-top: 66px;
    margin-bottom: 30px;
    margin-right: 150px;
}

.image_duo {
    width: 693px;
    height: 579px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: #707070;
}

#containerandy h3{
    font-size: 40px;
    margin-bottom: 40px;
}

#containerandy div p{
    font-size: 24px;
}

.image_body {
    border-radius: 100%;
    width: 467px;
    height: 467px;
}

#asideone {
    grid-column: 1;
    grid-row: 1;
    background-color: #EDB93B;
    padding: auto;
    text-align: center;
    font-size: 55px;
    font-family: roboto;
    letter-spacing: 0px;
    align-items: center;
    justify-content: center;
}




#asidetwo {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    padding: 10%;
    padding-left: 160px;
    margin-top: 50px;
}


#asidethree {
    grid-column: 1;
    grid-row: 2;
    background-color: #EDB93B;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
    padding-top: 0px;
    padding-right: 150px;
    padding-left: 150px;
}

#asidefour {
    grid-column: 2;
    grid-row: 2;
}

#asidefive {
    grid-column: 1;
    grid-row: 3;
    background-color: #EDB93B;
    margin-top: -80px;
    padding-right: 100px;
}

#asidefive img{
    width: 500px;
    height: 500px;
}

#asidesix {
    grid-column: 2;
    grid-row: 3;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
    padding-top: 25px;
    padding-bottom: 250px;
    padding-left: 150px;
}

#asidebutton {
    position: absolute;
    top: 2760px;
    left: 35.5%;
    display: block;
    margin: auto;
    width: 536px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 50px OstrichSansHeavy;
    color: #707070;
    background-color: white;
    opacity: 1;
    border: none;
    box-shadow: 3px 3px 17px #00000029;

}


#asideseven {
    grid-column: 1;
    grid-row: 5;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
    margin-top: 200px;
    padding-right: 150px;
    padding-left: 150px;
}

#asideeight h2{
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#asideeight img{
    margin-right: 50px;
    width: 551px;
    height: 535px;
}

#asideeight {
    grid-column: 2;
    grid-row: 5;
    background-color: #A6CFA4;
}

#asidenine {
    grid-column: 1;
    grid-row: 6;
    padding-right: 150px;
    margin-top: -50px;
}

#asidenine img{
    width: 535px;
    height: 520px;
}

#asideten {
    grid-column: 2;
    grid-row: 6;
    background-color: #A6CFA4;
    margin-left: auto;
    margin-right: auto;
    font: normal normal 300 24px/29px Roboto;
    letter-spacing: 0px;
    text-align: left;
    padding: 10%;
    padding-left: 180px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 250px;
}



#dernier_bouton {
    position: absolute;
    top: 4250px;
    color: #707070;
    background-color: white;
    opacity: 1;
    border: none;
    box-shadow: 3px 3px 17px #00000029;
    left: 35.5%;
    display: block;
    margin: auto;
    width: 536px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 50px OstrichSansHeavy;
}

#mention_legales {
    margin-top: 1125px;
    margin-left: 336px;
    width: 1248px;
    height: 2032px;
    text-align: left;
    font: normal normal normal 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;

}

@media screen and (max-width: 414px) {

    .image_duo {
        width: 369px;
        height: 331px;
    }

    .container div{
        max-width: 414px;
    }

    .image_body {
        width: 319px;
        height: 319px;
        border-radius: 100%;
    }

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    #containerandy h3{
        font-size: 30px;
        margin-top: -80px;
        text-align: center;
    }
    
    #containerandy div p{
        font-size: 15px;
        line-height: 16px;
        text-align: center;
    }

    h2{
        font-size: 50px;
        margin-right: 0;
    }
    

    #asideone {
        width: 414px;
        height: 480px;
    }

    #asideone {
        grid-column: 1;
        grid-row: 1;
        background-color: #EDB93B;
        padding: auto;
        text-align: center;
        font-size: 75%;
        letter-spacing: 0px;
        align-items: center;
        justify-content: center;

    }


    #asidetwo {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0px;
        padding: 10%;
        font-size: 75%;
    }


    #asidethree {
        grid-column: 1;
        grid-row: 4;
        background-color: #EDB93B;
        margin-left: auto;
        margin-right: auto;
        font: normal normal 300 24px/29px Roboto;
        letter-spacing: 0px;
        text-align: left;
        padding: 10%;
    }

    #asidethree h3{
        margin-top: 1px;
    }

    #asidefour {
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 50px;
    }

    #asidefive {
        grid-column: 1;
        grid-row: 5;
        background-color: #EDB93B;
        text-align: center;
        padding: auto;
    }

    #asidefive img{
        width: 319px;
        height: 315px;
        margin-left: 50px;
    }

    #asidesix {
        grid-column: 1;
        grid-row: 6;
        margin-left: auto;
        margin-right: auto;
        font: normal normal 300 24px/29px Roboto;
        letter-spacing: 0px;
        text-align: left;
        padding: 5%;
        margin-top: 80px;
    }



    #asidebutton {
        position: absolute;
        top: 2950px;
        left: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        margin: auto;
        width: 366px;
        height: 70px;
        text-align: center;
        font: OstrichSansHeavy;
        font-size: 40px;
        letter-spacing: 0px;
        color: #707070;
        background-color: white;
        opacity: 1;
        border: none;
        box-shadow: 3px 3px 17px #00000029;
    }

    #asideseven {
        grid-column: 1;
        grid-row: 7;
        margin-left: auto;
        margin-right: auto;
        font: normal normal 300 24px/29px Roboto;
        letter-spacing: 0px;
        text-align: left;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 130px;
        padding-bottom: 50px;
    }

    #asideseven p{
        margin-top: -10px;
        line-height: 18px!important;
        font-size: 16px!important;
    }

    #asideeight {
        grid-column: 1;
        grid-row: 8;
        background-color: #A6CFA4;
    }

    #asideeight h2{
        padding: 0;
        position: absolute;
        top: 3020px;
        background-color: #A6CFA4;
        padding-left: 89px;
        padding-right: 89.5px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 20px;
        margin-bottom: ;
    }

    #asideeight img{
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 254px;
        height: 247px;
    }

    #asidenine {
        grid-column: 1;
        grid-row: 10;
        background-color: #A6CFA4
    }

    #asidenine img{
        width: 254px;
        height: 247px;
        margin-left: 80px;
        padding: 0;
        margin-top: 100px;
        margin-bottom: 60px;
    }

    #asideten {
        grid-column: 1;
        grid-row: 9;
        margin-left: auto;
        margin-right: auto;
        font: normal normal 300 24px/29px Roboto;
        letter-spacing: 0px;
        text-align: left;
        padding: 10%;
        background-color: white;
    }

    #asideten h3{
        background-color: white;
        margin-left: 50px;
        margin: 0;
        margin-bottom: 25px;
    }

    #mention_legales {
        margin-top: 795px;
        margin-left: 51px;
        width: 316px;
        height: 2032px;
        text-align: left;
        font: normal normal normal 15px/20px Segoe UI;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }

    #dernier_bouton{
        position: absolute;
        top: 4625px;
        left: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        width: 366px;
        height: 70px;
        text-align: center;
        font: OstrichSansHeavy;
        font-size: 40px;
        letter-spacing: 0px;
        color: #707070;
        background-color: white;
        opacity: 1;
        border: none;
        box-shadow: 3px 3px 17px #00000029;
    }
}
